body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

header {
    background-color: #fbd0ff;
    padding: 25px;
    font-size: 24px;
}

header nav {
    padding-left: 15px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
}

nav a:any-link {
    color: #6b308d;
    font-size: 24px;
}

.image img {
    height: 500px;
}

.containerPT {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    margin: 10px;
}

.containerTP {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    margin: 10px;
    text-align: right;
}

.containerTP .text {
    padding-right: 40px;
    padding-left: 0px;
}

.text {
    padding-left: 40px;
}

.text h2 {
    font-size: 70px;
    color: #6b308d;
}

.text p {
    font-size: 35px;
    color: #b676d8;
}